<div class="sidebar_main_open">
  <app-header></app-header>
  <app-menu></app-menu>
  <div id="page_content">
    <div id="page_content_inner">
      <div class="uk-grid">
        <div class="uk-width-medium-2-10 float-left">
          <h3 class="heading_b uk-margin-bottom">Clients</h3>
        </div>
        <div class="uk-width-medium-8-10 float-right" style="text-align:right;">
          <a routerLink="/Client/Add" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon">
            <i class="uk-icon-plus"></i>
            Add Client
          </a>
        </div>
        <div class="uk-width-medium-1-1">
          <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
              <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                  <thead>
                    <tr>
                      <th style="width:5%;font-weight:bold;text-align:center;">SNo</th>
                      <th style="width:60%;font-weight:bold">Client Name</th>
                      <th style="width:20%;font-weight:bold">Code</th>
                      <th style="width:15%;font-weight:bold">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of clients let i=index">
                      <td style="text-align:center;">{{i+1}}</td>
                      <td>{{client.name}}</td>
                      <td>{{client.code}}</td>
                      <td style="text-align:right;">
                        <a (click)="deleteClient(client.uuid)" style="margin-right: 10px;" data-uk-tooltip
                          title="Delete"><i class="material-icons md-color-red-600">&#xE872;</i></a>
                        <a routerLink="/Client/Edit/{{ client.uuid }}" style="margin-right: 10px;" data-uk-tooltip
                          title="Edit"><i class="material-icons md-color-light-blue-500">&#xE150;</i></a>
                        <a routerLink="/Client/Details/{{ client.uuid }}" data-uk-tooltip title="Details"><i
                            class="material-icons  md-color-grey-500">&#xE88E;</i></a>
                      </td>
                    </tr>
                    <tr *ngIf="!clients?.length">
                      <td colspan="4" style="text-align:center;">No records found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>