<div class="sidebar_main_open">
  <app-header></app-header>
  <app-menu></app-menu>
  <div id="page_content">
    <div id="page_content_inner">
      <div class="uk-grid">
        <div class="uk-width-medium-2-10 float-left">
          <h3 class="heading_b uk-margin-bottom">Archive Details</h3>
        </div>
         <div *ngIf="reconciliation"  class="uk-width-medium-8-10 float-right" style="text-align:right;">
          <!-- <a routerLink="/Client/Categories/{{client.uuid}}" -->
          <!-- <a routerLink="#"  
          class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon">
          Categories
          </a> -->
          <!-- <a routerLink="/Client/Partners/{{client.uuid}}" -->
          <!-- <a routerLink="#"
          class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon">
          Partners
          </a> -->
          <!-- <a routerLink="/Client/Users/{{client.uuid}}" -->
          <!-- <a routerLink="/Clients"  
          class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon">
          Clients
          </a> -->
          <a routerLink="/Archives" class="md-btn md-btn-small md-btn-wave-light md-btn-icon">
            <i class="uk-icon-arrow-left"></i>
            Back
          </a>
        </div>
      </div>
      <div *ngIf="reconciliation" class="md-card" style="margin-top:0px">
        <div class="md-card-content large-padding">
          <div id="form_validation" class="uk-form-stacked">
            <div class="uk-grid" data-uk-grid-margin>
              <div class="uk-width-medium-1-3">
                <label><strong>Client</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.client.name}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>Category</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.partner.clientCategory.name}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>Partner</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.partner.name}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>From Date</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.fromDate | date: 'dd MMM yyyy'}}</p>
              </div>
              <div class="uk-width-medium-1-2">
                <label><strong>To Date</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.toDate | date: 'dd MMM yyyy'}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>Uploaded On</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.uploadedOn | date: 'dd MMM yyyy'}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>Uploaded By</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.uploadedBy.name}}</p>
              </div>
              <div class="uk-width-medium-1-3">
                <label><strong>Status</strong></label><br>
                <p style="margin-top: 2px;">{{reconciliation.status.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid">
        <div class="uk-width-medium-2-10 float-left">
          <h3 class="heading_b uk-margin-bottom">Documents</h3>
        </div>
        <div *ngIf="reconciliation && userRole == 'AEX' 
          && (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD')"
          class="uk-width-medium-8-10 float-right" style="text-align:right;">
          <a *ngIf="!isUploadDocumentClicked" (click)="uploadDocumentEvent()"
            class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon">
            Upload Document
          </a>
        </div>
      </div>
      <div *ngIf="isUploadDocumentClicked" class="md-card" style="margin-top:0px">
        <form [formGroup]="documentUploadForm" (ngSubmit)="onSubmit()">
          <div class="md-card-content large-padding">
            <div id="form_validation" class="uk-form-stacked">
              <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                  <div class="parsley-row">
                    <label><strong>Document Type<span class="req">*</span></strong></label>
                    <select class="md-input" formControlName="documentType" id="documentType" name="documentType">
                      <option value="">Please Select</option>
                      <option *ngFor="let documentType of documentTypes" [value]="documentType.uuid">
                        {{documentType.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="uk-width-medium-1-2">
                  <div class="parsley-row">
                    <label><strong>Select File<span class="req">*</span></strong></label>
                    <input type="file" required class="md-input" id="name"
                      (change)="handleFileInput($event.target.files)" />
                  </div>
                </div>
              </div>
              <div class="uk-grid" style="text-align: center">
                <div class="uk-width-1-1">
                  <button type="submit" class="md-btn md-btn-primary">Submit</button>
                  <button type="button" (click)="uploadDocumentEvent()" class="md-btn md-btn-primary">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!isUploadDocumentClicked && reconciliation" class="uk-grid" style="margin-top: 0px;">
        <div class="uk-width-medium-1-1">
          <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
              <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                  <thead>
                    <tr>
                      <th style="width:5%;font-weight:bold;text-align:center;">SNo</th>
                      <th style="width:28%;font-weight:bold">Document Type</th>
                      <th style="width:28%;font-weight:bold">File Name</th>
                      <th style="width:12%;font-weight:bold">Uploaded On</th>
                      <th style="width:12%;font-weight:bold">Uploaded By</th>
                      <th style="width:15%;font-weight:bold">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let document of reconciliation.documents let i=index">
                      <td style="text-align:center;">{{i+1}}</td>
                      <td>{{document.documentType.name}}</td>
                      <td>{{document.name}}</td>
                      <td>{{document.uploadedOn | date: 'dd MMM yyyy'}}</td>
                      <td>{{document.uploadedBy.name}}</td>
                      <td style="text-align:right;">
                        <a *ngIf="userRole == 'AEX' && 
                        (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD')"
                          (click)="deleteDocument(document.uuid)" style="margin-right: 10px;" data-uk-tooltip
                          title="Delete"><i class="material-icons md-color-red-600">&#xE872;</i></a>
                        <a (click)="downloadDocument(document.uuid, document.name)" data-uk-tooltip title="Download"><i
                            class="material-icons  md-color-grey-500">cloud_download</i></a>
                      </td>
                    </tr>
                    <tr *ngIf="!reconciliation.documents?.length">
                      <td colspan="6" style="text-align:center;">No records found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
   <!-- AFX Role -->
<div class="uk-width-medium-1-1" style="text-align:center;">
  <!-- <option value="send for approval"> -->
   <a *ngIf="userRole == 'AEX' && (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD') 
    && !isUploadDocumentClicked && reconciliation.documents?.length" (click)="sendForApproval(reconciliation.uuid)"
    class="md-btn md-btn-success md-btn-small md-btn-wave-light md-btn-icon">
    Send For Approval </a>
<div></div>
    <!-- <select *ngIf="userRole == 'AEX' && (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD') 
    && !isUploadDocumentClicked && reconciliation.documents?.length" class="md-btn md-btn-success md-btn-small md-btn-wave-light md-btn-icon">
      <option value="MGR-1">Manager 1</option>
      <option value="MGR-2">Manager 2</option>
      <option value="MGR-3">Manager 3</option>
      <option value="MGR-4">Manager 4</option>
      <option value="MGR-5">Manager 5</option>
      <option value="MGR-6">Manager 6</option>
      <option value="MGR-7">Manager 7</option>
    </select> -->
    
   <a *ngIf="userRole == 'AEX' && (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD') 
   && !isUploadDocumentClicked && reconciliation.documents?.length" 
          (click)="rejectArchive(reconciliation.uuid)"
          class="md-btn md-btn-danger md-btn-small md-btn-wave-light md-btn-icon">
          Reject
        </a>

     <a *ngIf="userRole == 'AEX' && (reconciliation.status.code == 'DRFT' || reconciliation.status.code == 'RJTD')   
     && !isUploadDocumentClicked && reconciliation.documents?.length" 
          (click)="approveArchive(reconciliation.uuid)"
          class="md-btn md-btn-success md-btn-small md-btn-wave-light md-btn-icon">
          Approve
        </a>
  <!-- MGR Role-->
   <a *ngIf="userRole == 'MGR' && reconciliation.status.code == 'SAPR'"
          (click)="rejectArchive(reconciliation.uuid)"
          class="md-btn md-btn-success md-btn-small md-btn-wave-light md-btn-icon">
          Reject
        </a>

     <a *ngIf="userRole == 'MGR' && reconciliation.status.code == 'SAPR'"
          (click)="approveArchive(reconciliation.uuid)"
          class="md-btn md-btn-success md-btn-small md-btn-wave-light md-btn-icon">
          Approve
        </a>

      
    </div>
  </div>
</div>